.Welcome-text {
  margin: 0;
  font-size: clamp(32px, 7vw, 64px);
  font-weight: 700;
}

.Welcome-subtext {
  margin-top: clamp(1vh, 12px, 2vh);
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(10px, 2.5vw, 21px);
  letter-spacing: 0.2em;
  margin-bottom: clamp(1vw, 40px, 2vh);
  color: var(--site-accent-teal);
}

.Dropdown-button {
  text-decoration: none;
  border: none;
}
