:root {
  --site-bg-color: #001924;
  --site-primary-text: #fffaf0;
  --site-secondary-text: #87babd;
  --site-tertiary-text: #87989a;
  --site-accent-teal: #439fb1;
  --site-accent-orange: #f78573;
  --site-hover: #ffffff;
}

body {
  background-color: var(--site-bg-color);
  color: var(--site-primary-text);
  font-family: "Public Sans", sans-serif;
}

.Portrait {
  max-width: 100%;
  border-radius: 10px;
}

.Base {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Main-container {
  width: clamp(400px, 1260px, 80vw);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Site-h1 {
  font-size: clamp(24px, 5.33vw, 48px);
  font-weight: 700;
  padding-bottom: 0.6vh;
}

.Site-h2 {
  font-size: clamp(18px, 4vw, 36px);
  font-weight: 700;
  padding-bottom: 0.4vh;
}

.Site-h3 {
  font-size: clamp(12px, 2.67vw, 24px);
  font-weight: 500;
}

.Site-p {
  font-size: clamp(10px, 2.5vw, 21px);
  font-weight: 200;
}

.Site-small-p {
  font-size: clamp(9px, 2vw, 18px);
  font-weight: 300;
}

.Site-small-text {
  font-size: clamp(7px, 1.56vw, 14px);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.Site-smaller-text {
  font-size: clamp(6px, 1.33vw, 12px);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.Color-secondary-text {
  color: var(--site-secondary-text);
}

.Color-tertiary-text {
  color: var(--site-tertiary-text);
}

.Color-accent-teal {
  color: var(--site-accent-teal);
}

.Color-accent-orange {
  color: var(--site-accent-orange);
}

a:hover {
  color: var(--site-hover);
}

Nav.Link:hover {
  color: var(--site-hover);
}
