.Welcome-text {
  margin: 0;
  font-size: clamp(32px, 7vw, 64px);
  font-weight: 700;
}

.Welcome-subtext {
  margin-top: clamp(1vh, 12px, 2vh);
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(10px, 2.5vw, 21px);
  letter-spacing: 0.2em;
  margin-bottom: clamp(1vw, 40px, 2vh);
  color: var(--site-accent-teal);
}

.Dev-navbar {
  background-color: var(--site-bg-color);
}

.Dev-navbar-link {
  color: var(--site-secondary-text);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: clamp(9px, 2vw, 18px);
}

.Dev-navbar-link:hover {
  color: var(--site-hover);
}

.First-section {
  padding-top: clamp(80px, 3vh, 5vh);
  padding-bottom: 5vh;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.Dev-padded-section {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.Work-sample {
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  border-color: var(--site-accent-teal);
  border-width: 2px;
  border-style: solid;
}

.Social-icon-container {
  margin-top: clamp(2vh, 160px, 20vh);
}

.Social-icon {
  width: clamp(12px, 3vw, 24px);
  height: clamp(12px, 3vw, 24px);
}

.Dropdown-button {
  text-decoration: none;
  border: none;
}

.Position-dropdown-arrow {
  float: left;
  width: 3vh;
  height: 6vh;
}

.Position-dropdown-button {
  color: inherit;
  text-decoration: none;
  border: none;
  width: 100%;
}

.Position-dropdown-button:visited,
.Position-dropdown-button:hover,
.Position-dropdown-button:active,
.Position-dropdown-button:focus {
  color: var(--site-secondary-text);
}
