.Welcome-text {
  margin: 0;
  font-size: clamp(36px, 8vw, 72px);
  font-weight: 700;
}

.Welcome-subtext {
  margin: 0;
  margin-top: clamp(1vh, 12px, 3vh);
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(12px, 2.67vw, 24px);
  letter-spacing: 0.2em;
}

.Dev-navbar-link {
  color: var(--site-secondary-text);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: clamp(9px, 2vw, 18px);
}

.Dev-navbar-link:hover {
  color: var(--site-hover);
}

.Dev-padded-section {
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.Work-sample {
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  border-color: var(--site-accent-teal);
  border-width: 2px;
  border-style: solid;
}

.Social-icon-container {
  margin-top: clamp(2vh, 160px, 20vh);
}

.Social-icon {
  width: clamp(12px, 3vw, 24px);
  height: clamp(12px, 3vw, 24px);
}