.Landing-links-container {
  margin: 0;
  margin-top: clamp(3vh, 66px, 5vh);
  padding: 0;
  display: flex;
  flex-direction: column;
}

.Landing-links {
  margin: 0;
  width: fit-content;
  font-size: clamp(12px, 3vw, 24px);
  font-weight: 700;
}

.Social-icon-container {
  margin-top: clamp(2vh, 160px, 20vh);
}

.Social-icon {
  width: clamp(12px, 3vw, 24px);
  height: clamp(12px, 3vw, 24px);
}
